<div class="p-gutter">
  <div class="card overflow-hidden">
    <div class="px-6 py-4 border-b flex items-center">
      <!-- <h2 class="title m-0">Llene el siguiente formulario</h2> -->
    </div>
    <div class="card-body">
      <div class="mt-64 mb-64 py-4 px-gutter">
        <div class="grid grid-cols-9 gap-4">
          <div class="col-start-3 col-span-5">
            <img class="w-auto" src="assets/img/bannerENED_2.png" />
          </div>
        </div>
        <br />
        <br />
        <h2 class="display-2 mt-0 mb-4 text-center"><b>Bienvenido</b></h2>
        <!--  <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Por favor seleccione una opción</h3> -->

       <!--  <p-slider [(ngModel)]="val"></p-slider> -->
      </div>
    </div>
  </div>
</div>
