<div class="p-gutter">
  <div class="card overflow-hidden">
    <div class="px-6 py-4 border-b flex items-center">
      <h2 class="title m-0">Proceso de admisión</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="formularioEscalafon">
      <div class="body" *ngIf="this.escalafon">
        <div class="timeline">
          <div class="inicio ">
            <p><strong>Inicio</strong></p>
          </div>
          <div class="contenedor left">
            <div class="date"></div>
            <i class="icon" [ngClass]="formularioEscalafon.get('tecnicoMet').valid ? 'valido' : 'invalido' "></i>
            <div class="contenido">
              <h2>Presentación de exámen técnico metodológico</h2>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4">
                <mat-form-field class="flex-auto"  *ngIf="this.accion != 'Visualizacion'">
                  <mat-label>Calificación</mat-label>
                  <input
                    formControlName="tecnicoMet"
                    matInput
                    style="text-transform: uppercase"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    matTooltip="Guardar Calificación"
                    type="button"
                  >
                    <mat-icon svgIcon="mat:save"></mat-icon>
                  </button>
                </mat-form-field>
                <mat-label *ngIf="this.accion == 'Visualizacion'"> Calificacion: <strong> {{(escalafon.tecnicoMet == 0 || !escalafon.tecnicoMet) ? 'No se ha registrado calificación': escalafon.tecnicoMet}} </strong> </mat-label>
              </div>
            </div>
          </div>
          <div class="contenedor right">
            <div class="date"></div>
            <i class="icon" [ngClass]="formularioEscalafon.get('conocimientosBd').valid ? 'valido' : 'invalido'"></i>
            <div class="contenido">
              <h2>Presentación de exámen conocimientos básicos del deporte</h2>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4">
                <mat-form-field class="flex-auto" *ngIf="this.accion != 'Visualizacion'">
                  <mat-label>Calificación</mat-label>
                  <input
                    formControlName="conocimientosBd"
                    matInput
                    style="text-transform: uppercase"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    matTooltip="Guardar Calificación"
                    type="button"
                  >
                    <mat-icon svgIcon="mat:save"></mat-icon>
                  </button>
                </mat-form-field>
                <mat-label *ngIf="this.accion == 'Visualizacion'"> Calificacion: <strong> {{(escalafon.conocimientosBd == 0 || !escalafon.conocimientosBd) ? 'No se ha registrado calificación': escalafon.conocimientosBd}} </strong> </mat-label>
              </div>
            </div>
          </div>
          <div class="contenedor left">
            <div class="date"></div>
            <i class="icon" [ngClass]="formularioEscalafon.get('ceneval').valid ? 'valido' : 'invalido'"></i>
            <div class="contenido">
              <h2>Presentación de exámen CENEVAL</h2>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4">
                <mat-form-field class="flex-auto" *ngIf="this.accion != 'Visualizacion'" >
                  <mat-label>Calificación</mat-label>
                  <input
                    formControlName="ceneval"
                    matInput
                    style="text-transform: uppercase"
                  />
                  <button

                    mat-icon-button
                    matSuffix
                    matTooltip="Guardar Calificación"
                    type="button"
                  >
                    <mat-icon svgIcon="mat:save"></mat-icon>
                  </button>
                </mat-form-field>
                <mat-label *ngIf="this.accion == 'Visualizacion'"> Calificacion: <strong> {{(escalafon.ceneval == 0 || !escalafon.ceneval) ? 'No se ha registrado calificación': escalafon.ceneval}} </strong> </mat-label>
              </div>
            </div>
          </div>
          <div class="contenedor right">
            <div class="date"></div>
            <i class="icon" [ngClass]="formularioEscalafon.get('examenMedico').valid ? 'valido' : 'invalido'"></i>
            <div class="contenido">
              <h2>Exámen médico aprobado</h2>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4" *ngIf="this.accion != 'Visualizacion'">
                No <mat-slide-toggle formControlName="examenMedico" [aria-label]=""> </mat-slide-toggle> Si
              </div>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4" *ngIf="this.accion != 'Visualizacion'">
                <mat-form-field class="flex-auto">
                  <mat-label>Calificación</mat-label>
                  <textarea
                    formControlName="examenMedicoDescripcion"
                    matInput
                    style="text-transform: uppercase"
                  ></textarea>
                </mat-form-field>
                <button
                mat-button color="primary">Guardar</button>
              </div>
              <mat-label *ngIf="this.accion == 'Visualizacion'"> <strong> {{escalafon.examenMedico == true ? 'Aprobado': 'No aprobado'}} </strong> </mat-label>
              <br>
              <mat-label *ngIf="this.accion == 'Visualizacion'">  {{escalafon.examenMedicoDescripcion}} </mat-label>
            </div>
          </div>
          <div class="contenedor left">
            <div class="date"></div>
            <!-- <i class="icon fa fa-user"></i> -->
            <i class="icon" [ngClass]="formularioEscalafon.get('cursoInduccion').valid ? 'valido' : 'invalido'"></i>
            <div class="contenido">
              <h2>Realizó curso de inducción</h2>
              <div class="mt-4 flex flex-col lg:flex-row sm:gap-4" *ngIf="this.accion != 'Visualizacion'">
                No <mat-slide-toggle  formControlName="cursoInduccion" [aria-label]=""> </mat-slide-toggle> Si
                <button
                mat-button color="primary">Guardar</button>
              </div>
              <mat-label *ngIf="this.accion == 'Visualizacion'"> <strong> {{escalafon.cursoInduccion == true ? 'Si': 'No'}} </strong> </mat-label>
            </div>
          </div>
          <div class="fin valido" *ngIf="this.mostrarAprobacion()">
            <p style="color:white"><strong>Aprobado</strong></p>
          </div>
          <div class="fin invalido" *ngIf="!this.mostrarAprobacion()">
            <p style="color:white"><strong>No aprobado</strong></p>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- <div class="row">
  {{ formularioEscalafon.getRawValue() | json }}
</div> -->
